<h1>Apply to Adopt this Furry Friend</h1>
<br>

<%= form_for @adoption_process, url: animal_adoption_processes_path(@animal, @adoption_process) do |f| %>

<%= f.label :animal_id %>
<%= f.text_field :animal_id, value: @animal.name %>
<%= f.label :user %>
<%= f.text_field :user, value: @user.name %>
<%= f.submit "Apply" %>
<% end %>

