<h1>All About This Furry Friend</h1>
<br>
<h3>Name: <%= @animal.name %></h3>
<h3>Breed: <%= @animal.breed %></h3>
<h3>Age: <%= @animal.age %></h3>
<h3>Bio: <%= @animal.bio %></h3>
<!-- Add picture -->
<br>
<br>
<%= link_to 'View All Animals', animals_path %> 
<% if session[:user_id].nil? %>
   <div><%= link_to "Log In to Adopt", login_path %> </div> 
   <% end %>
<%= link_to 'Adopt This Animal' %>
